.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App__container {
  width: 340px;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Content__wrapper {
  width: 98%;
  height: 90%;
  border: 1px solid lightgrey;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
